/* smooth scrool */
html{
  scroll-behavior: smooth;
}
/* custom scrool bar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff737e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff737e;
}
/* danger btn */

.btn-danger{
  background-color: #ff737e!important;
  border: none!important;
  color: #fff!important;
}

.btn-danger:hover{
  background-color: #e2424f!important;
}

.btn-outline-danger{
  border: 1px solid #ff737e!important;
  color: #ff737e!important;
}

.btn-outline-danger:hover{
  background-color: #ff737e!important;
  color: #fff!important;
}


.form-control
{
  background-color: #000111!important;
  border: 1px dashed #aaa!important;
}
