body{
  background-color: #000111;
}

.social a{
  color: red!important;
  padding: 0 10px;
  color: #ff737e!important;
}

.social-icon{
  position: relative;
  right: 5px;
}

.social-email{
  color: #ff737e!important;
  position: absolute;
  left: 30px;

}

.brand-image {
  margin-top: -30px;
}

.hero-header{
  line-height: 50px !important;
}

.hero-text{
  margin-top: 30px;
  color:#a4a4a4 !important;
  line-height: 28px !important;
}

.animated-scrool{
  margin-top: 100px;
}

.card-custom{
  padding: 30px 40px 30px 40px;
}

.card-custom-text{
  line-height: 27px;
}

.card-custom{
  background-color: #353642!important;
  color: #fff;
  -webkit-box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49);
  box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49);
}
.card-custom:hover{
  background-color: #c0f5c0!important;
  color: #000;
}
