body{
  background-color: #000111;
}

.navbar{
  background-color: #000111!important;
}
.navbar .nav-item .nav-link{
  color: #aaa!important;
  padding: 12px!important;
  font-size: 16px!important;
}

.navbar .nav-item .nav-link:hover{
  color: #fff!important;
}

.navbar-toggler i{
  color: #ff737e!important;
}

.navbar-toggler{
  outline: none!important;
}

.social a{
  padding: 0 10px;
  color: #ff737e!important;
}

.social-icon{
  position: relative;
  right: 5px;
}

.social-icon a{
  font-size: 18px!important;
}

.nav-email{
  color: #ff737e!important;
}

.brand-image {
  margin-top: -30px;
}

.hero-header{
  line-height: 40px !important;
}

.hero-text{
  margin-top: 30px;
  color:#a4a4a4 !important;
  line-height: 28px !important;
}

.animated-scrool{
  margin-top: 20px;
}

.card-custom{
  padding: 30px 40px 30px 40px;
  height: 100%;
}

.card-custom-text{
  line-height: 27px;
}

.card-custom{
  background-color: #353642!important;
  color: #fff;
  -webkit-box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49);
  box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49);
}
.card-custom:hover{
  background-color: #c0f5c0!important;
  color: #000;

}

.headline-text{
  line-height: 50px!important;
  color: #ff737e!important;

}

.section-item li{
  list-style: none;
  font-size: 18px;
  color:#fff;
  margin-bottom: 20px;
}
.section-item li i{
  padding-right: 20px;
}
.section-item li span{
  padding-left: 40px;
}

.section-item li{
  font-size: 16px!important;
}
.bg-custom{
  background-color: #000111!important;

}

#help-btn{
  position:fixed;
  bottom: 10px;
  z-index: 5;
  left: 5px;
}

#moving-text-container{
  background-color: #353642!important;
  -webkit-box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49) !important;
  box-shadow: 1px 1px 25px -5px rgba(192,245,192,0.49) !important;
}

.footer-content{
  background-color: #353642!important;

}
.footer-content a,.footer-content p, .footer-content h5{
  color:#aaa!important;
  text-decoration: none!important;
}
.footer-content a:hover{
  color: #fff!important;
}



.size-14{
  font-size: 14px!important;
}

.size-16{
  font-size: 16px!important;
}

.size-18{
  font-size: 18px!important;
}

.size-22{
  font-size: 22px!important;
}

.side-24{
  font-size: 24px!important;
}



footer a{
  font-size: 14px!important;
}
.Updates{
  font-size: 16px!important;
}

.resource-item a:hover{
  padding-left: 10px!important;


}

/* responsive */
@media (max-width:762px) {
  #two-section image{
    width: 120px !important;
    height: 120px!important;
  }
  #section-update{
    width: 100%!important;
  }
}

form label{
  color: #fff!important;
  font-size: 14px!important;
}

/* scroll top btn style */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ff737e;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #aaa;
}
